In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data', header=None, sep='\s+')
df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'PRICE']

In [ ]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
PRICE      float64
dtype: object

In [ ]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [ ]:


X = df.drop('PRICE', axis=1).values
y = df['PRICE'].values.reshape(-1, 1)

In [ ]:
def standard_scaler(X):
    mean = np.mean(X, axis=0)
    std = np.std(X, axis=0)
    X_std = (X - mean) / std
    return X_std

In [ ]:
def train_test_split(X, y, test_size=0.2, random_state=None):
   
    
    if random_state:
        np.random.seed(random_state)
    
  
    indices = np.random.permutation(X1.shape[0])
    
    
    n_test = int(test_size * X.shape[0])
    
    
    X_train = X[indices[:-n_test], :]
    y_train = y[indices[:-n_test]]
    X_test  = X[indices[-n_test:], :]
    y_test  = y[indices[-n_test:]]
    
    return X_train, X_test, y_train, y_test

In [ ]:
 indices = np.random.permutation(10)

In [ ]:
indices

array([5, 4, 7, 9, 6, 2, 1, 3, 8, 0])

In [ ]:
class LinearRegression:
    def __init__(self, alpha=0.0):
        self.alpha = alpha
    
    def fit(self, X, y):
        n_samples, n_features = X.shape
        
        
        X = np.hstack((X, np.ones((n_samples, 1))))
        
        
        A = np.dot(X.T, X)
        b = np.dot(X.T, y)
        self.coef_ = np.linalg.solve(A, b)
    
    def predict(self, X):
        n_samples = X.shape[0]
        
      
        X = np.hstack((X, np.ones((n_samples, 1))))
        
      
        y_pred = np.dot(X, self.coef_)
        return y_pred

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)


y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)



from sklearn.metrics import mean_squared_error


train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

print('Training MSE (linear regression):', train_mse)
print('Testing MSE (linear regression):', test_mse)

Training MSE (linear regression): 19.958219814238046
Testing MSE (linear regression): 27.19596576688317

In [ ]:

df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data', header=None, sep='\s+')
df1.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'PRICE']

In [ ]:

X1 = df1.drop('PRICE', axis=1).values
y1 = df1['PRICE'].values.reshape(-1, 1)

In [ ]:
def standard_scaler(X):
    """Standardize the input matrix X using mean and standard deviation"""
    mean = np.mean(X1, axis=0)
    std = np.std(X1, axis=0)
    X1_std = (X1 - mean) / std
    return X1_std

In [ ]:
import numpy as np

def train_test_split(X1, y1, test_size=0.2, random_state=0):
    
   
    if random_state:
        np.random.seed(random_state)
    
 
    indices = np.random.permutation(X1.shape[0])
    

    n_test = int(test_size * X1.shape[0])
    
    X1_train = X1[indices[:-n_test], :]
    y1_train = y1[indices[:-n_test]]
    X1_test = X1[indices[-n_test:], :]
    y1_test = y1[indices[-n_test:]]
    
    return X1_train, X1_test, y1_train, y1_test

In [ ]:
class RidgeRegression:
    def __init__(self, alpha=1):
        self.alpha = alpha
    
    def fit(self, X1, y1):
        n_samples, n_features = X1.shape
        
        
        X1 = np.hstack((X1, np.ones((n_samples, 1))))
        
        A = np.dot(X1.T, X1) + self.alpha * np.eye(n_features+1)
        b = np.dot(X1.T, y1)
        self.coef_ = np.linalg.solve(A, b)
    
    def predict(self, X1):
        n_samples = X1.shape[0]
        
      
        X1 = np.hstack((X1, np.ones((n_samples, 1))))
        
      
        y1_pred = np.dot(X1, self.coef_)
        return y1_pred






alpha = 6
rr = RidgeRegression(alpha=alpha)
rr.fit(X1_train, y1_train)



y1_train_pred = rr.predict(X1_train)
y1_test_pred = rr.predict(X1_test)



train1_mse = mean_squared_error(y1_train, y1_train_pred)
test1_mse = mean_squared_error(y1_test, y1_test_pred)

print('Training MSE (ridge regression):', train1_mse)
print('Testing MSE (ridge regression):', test1_mse)

Training MSE (ridge regression): 20.146682431246163
Testing MSE (ridge regression): 27.81002614219621